<div class="col-sm-8 col-sm-offset-2 align-middle">

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>{{vm.inventory.name}} </h1>
    </div>
  </div>
<div class="row">
  <div class="col-sm-12 pull-left " ng-form name="quantityForm">
    <span> Packs</span>
    <input type="text" name="quantity" ng-pattern="/^[0-9]*$/"  class="form-control" ng-model="vm.inventoryUpdate.quantity" required>
    <p ng-show="quantityForm.quantity.$error.pattern">Not a valid number!</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 pull-left " ng-form name="quantityForm">
    <span> Units</span>
    <input type="text" name="uquantity" ng-pattern="/^[0-9]*$/"  class="form-control" ng-model="vm.inventoryUpdate.uquantity" required>
    <p ng-show="quantityForm.uquantity.$error.pattern">Not a valid number!</p>

  </div>
</div>

<div class="row " style="margin-top : 10px">
<div class="col-sm-12 pull-left">
  <button type="button" class="btn btn-primary" ng-click = "vm.AddStock()">Add Stock</button>
  <button type="button" class="btn btn-danger " ng-click="vm.RemoveStock()">Remove Stock</button>
</div>
</div>

</div><!-- col-sm-8 -->
