  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pepsi</a>
      </div>
      <ul class="nav navbar-nav" ng-if="vm.user != undefined && vm.user != null">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >Inventory<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.inventory.add">Add</a></li>
            <li><a ui-sref="app.inventory.list">List</a></li>
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Stock<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.stock.add">Add</a></li>
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">User<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.learn.register">Add</a></li>
            <li><a ui-sref="app.user.list">List</a></li>
          </ul>
        </li>

      </ul>

      <ul ng-if="vm.user == undefined || vm.user == null" class="nav navbar-nav navbar-right">
        <li><a ui-sref="app.learn.register"><spa class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a ui-sref="app.learn.login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <ul ng-if="vm.user != undefined && vm.user != null" class="nav navbar-nav navbar-right">
          <li class="navbar-brand"> {{vm.user.name}}</li>
        <li><a ng-click="$scope.logOut()"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div ui-view></div>
  </div>
