<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>username</th>
      <th>Phone</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody  ng-repeat="user in vm.users track by $index">
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.role}}</td>
      <td ng-if="vm.loggedInUser.role == 'Admin'">

        <button type="button" class="btn btn-primary btn-xs" ui-sref = "app.user.edit({id: user._id })">Edit {{$rootScope.user.role}}</button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeUser(user)">Delete</button>
      </td>
      <td ng-if="vm.loggedInUser.role != 'Admin' && vm.loggedInUser._id == user._id">
        <button type="button" class="btn btn-primary btn-xs" ui-sref = "app.user.edit({id: user._id })">Edit</button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeUser(user)">Delete</button>
      </td>
    </tr>

  </tbody>
</table>
