<ng-include src="'./shared/error.html'"></ng-include>
<ng-include src="'./shared/success.html'"></ng-include>
 <div class="col-sm-8 col-sm-offset-2">

    <form name="stockForm" ng-submit="vm.submitForm(stockForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <!-- Inventory -->

        <div class="form-group">
            <label>Select inventory</label>
            <ui-select name="inventory" ng-model="vm.stock.inventory" theme="bootstrap"  ng-required="true">
                      <ui-select-match placeholder="Select or search a role">{{vm.stock.inventory.name}}</ui-select-match>
                      <ui-select-choices repeat="item in vm.inventories | filter: $select.search">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                        <small ng-bind-html="item.price | highlight: $select.search"></small>
                      </ui-select-choices>
            </ui-select>
            <p ng-show="stockForm.$submitted && stockForm.inventory.$error.required" class="help-block">Inventory is required.</p>
        </div>

        <div class="form-group">
          <label>Select Date</label>

        <datepicker date-format="yyyy-MM-dd" selector="form-control">
                <div class="input-group">
                    <input class="form-control" ng-model="vm.inventory.date" placeholder="Choose a date"/>
                    <span class="input-group-addon" style="cursor: pointer">
                    <i class="fa fa-lg fa-calendar"></i>
                    </span>
                </div>
            </datepicker>
        </div>

        <!-- quantity -->
        <div class="form-group">
            <label>Pack quantity</label>
            <input type="text" name="pack-quantity" class="form-control" ng-model="vm.stock.quantity" ng-minlength="3"  required>
            <p ng-show=" (stockForm.pack-quantity.$dirty || stockForm.$submitted) && (stockForm.pack-quantity.$error.minlength || stockForm.pack-quantity.$error.required)" class="help-block">Quantity is required.</p>
        </div>

        <div class="form-group">
            <label>Single piece quantity</label>
            <input type="text" name="sp-quantity" class="form-control" ng-model="vm.stock.spquantity" ng-minlength="3"  required>
            <p ng-show=" (stockForm.sp-quantity.$dirty || stockForm.$submitted) && (stockForm.sp-quantity.$error.minlength || stockForm.sp-quantity.$error.required)" class="help-block">Quantity is required.</p>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit"  class="btn btn-primary button">Add</button>

    </form>
</div><!-- col-sm-8 -->
